// IMAGE LINKS

$bg-main-mobile: 'https://res.cloudinary.com/denpx8l6a/image/upload/v1705085796/ezefvuhlote7ix2qkq7l.png';
$bg-main-desktop: 'https://res.cloudinary.com/denpx8l6a/image/upload/v1705085796/vica9gpgngm9nlhnicvm.png';

$bg-card-front: 'https://res.cloudinary.com/denpx8l6a/image/upload/v1705085796/ukopv6322b83yjnjloj5.png';
$bg-card-back: 'https://res.cloudinary.com/denpx8l6a/image/upload/v1705085796/i4eonbfqtnjt4cdrm3rz.png';


$color-active-input: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$color-red: hsl(0, 100%, 66%);

$color-white: hsl(0, 0%, 100%);
$color-light-violet: hsl(270, 3%, 87%);
$color-gray-violet: hsl(279, 6%, 55%);
$color-violet: hsl(278, 68%, 11%);

