.Button {
    display: block;
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1.8rem;
    border: none;
    color: $color-white;
    background-color: $color-violet;
    border-radius: .5rem;

    &:hover {
        cursor: pointer;
    }
}