.CardDisplay {
    width: 100%;
    padding: 3rem;
    margin: 0 auto;
    min-height: 30rem;
    color: $color-white;
    background: url($bg-main-mobile);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width:1440px) {
        background: url($bg-main-desktop);
        background-repeat: no-repeat;
        background-position: top left;
        height:100vh;
        width:30%;
        margin:0;
    }
}

.cards {
    max-width: 34.3rem;
    min-height: 30rem;
    margin: 0 auto;
    position: relative;
    top: 5rem;
}

.card {
    width: 28.6rem;
    height: 18rem;
    background-position: center;
    position: absolute;
    padding: 2rem;

    @media screen and (min-width:1440px) {
        width:44.7rem;
        height:24.5rem;
    }

    &-front {
        background: url($bg-card-front);
        background-size: 100%;
        background-repeat: no-repeat;
        left: 0;
        top: 50%;
        z-index: 3;

        @media screen and (min-width:1440px) {
            top:20%;
            left:10%;
        }

        &__circle-group{
            display: flex;
            align-items: center;
        }

        &__circle {
            background-color: orangered;
            border-radius: 50%;

            &--white{
                width:3rem; 
                height: 3rem;
                background-color: $color-white;
                margin-right:1rem;
            }

            &--hollow{
                background: transparent;
                border:1px solid $color-white;
                width:1.35rem; 
                height:1.35rem;
            }
        }
        &__content {
            position: absolute;
            top: 50%;
            width: 100%;
            box-sizing: border-box;
        }

        &__name-and-date {
            width: 90%;
            margin: 2rem 0;
            display: flex;
            justify-content: space-between;
            font-size: .9rem;
            letter-spacing: 1.29px;
            align-items: center;
        }

        &__number {
            font-size: 1.8rem;
            letter-spacing: 2.2px;
            text-align: center;
            width: 80%;
            margin: 2 auto;
        }

        &__name {
            text-transform: uppercase;
        }
    }

    &-back {
        background: url($bg-card-back);
        background-size: 100%;
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        z-index: 1;

        @media screen and (min-width:1440px) {
            top:110%;
            left:25%;
        }

        &__cv {
            position: absolute;
            right: 13%;
            top: 44%;
            transform: translateY(-50%);
            font-size: .9rem;
            letter-spacing: 1.29px;
        }
    }
}