@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.attribution {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  text-align: center;
}

.CardDisplay {
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
  min-height: 30rem;
  color: hsl(0, 0%, 100%);
  background: url("https://res.cloudinary.com/denpx8l6a/image/upload/v1705085796/ezefvuhlote7ix2qkq7l.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cards {
  max-width: 34.3rem;
  min-height: 30rem;
  margin: 0 auto;
  position: relative;
  top: 5rem;
}

.card {
  width: 28.6rem;
  height: 18rem;
  background-position: center;
  position: absolute;
  padding: 2rem;
}
.card-front {
  background: url("https://res.cloudinary.com/denpx8l6a/image/upload/v1705085796/ukopv6322b83yjnjloj5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  z-index: 3;
}
.card-front__content {
  position: absolute;
  top: 50%;
  width: 100%;
  box-sizing: border-box;
}
.card-front__name-and-date {
  width: 90%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  letter-spacing: 1.29px;
  align-items: center;
}
.card-front__number {
  font-size: 1.8rem;
  letter-spacing: 2.2px;
  text-align: center;
  width: 80%;
  margin: 2 auto;
}
.card-front__name {
  text-transform: uppercase;
}
.card-back {
  background: url("https://res.cloudinary.com/denpx8l6a/image/upload/v1705085796/i4eonbfqtnjt4cdrm3rz.png");
  background-size: 100%;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  z-index: 1;
}
.card-back__cv {
  position: absolute;
  right: 13%;
  top: 44%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  letter-spacing: 1.29px;
}

.CardForm {
  padding: 8rem 3rem 0;
  width: 100%;
}

.form {
  width: 100%;
}
.form__group {
  display: block;
  margin-bottom: 2rem;
}
.form__group--exp {
  display: flex;
}
.form__group--row {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}
.form__label {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.form__input {
  width: 100%;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1.8rem;
}
.form__input--exp-date--mm {
  margin-right: 1rem;
}
.Completed {
  padding: 8rem 3rem 0;
}
.Completed__header {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: 3.42px;
  color: hsl(278, 68%, 11%);
  margin-bottom: 2rem;
}
.Completed__text {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
  color: hsl(279, 6%, 55%);
}

.Button {
  display: block;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  border-radius: 0.5rem;
}
.Button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
